<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="./input.css">
	<script src="https://kit.fontawesome.com/ef54baa0cf.js" crossorigin="anonymous" defer></script>
</head>
<body>
	
	<div class="container">

		<!--Start input-->
		<div class="text-field">
			<div class="text-field_i">
				<input class="text-field__input" type="text" name="login" id="login" placeholder="Поиск диалогов See..."/> <!--value="Поиск диалога"-->
				<i id="text-field__label" class="fa-solid fa-magnifying-glass"></i>
			</div>
		</div>
		<!--End input-->

	</div>

</body>
</html>